@import '../base/typography';
@import '../themes/theme';
@import '../base/common';
@import '../components/single-line-form';
@import '../components/button';

h1, h2, h3, h4 {
  word-wrap: break-word;
}

header {
  background: url("../images/background-header.png") no-repeat;
  //background-position: center;
  //background-size:cover ;

  .container {
    padding: 30px 15px 40px 15px;

  }
  nav {
    button {
      span {
        color: white;
      }
    }
    width: 100%;
    margin: 0 auto;
    .navbar-collapse {
      box-shadow: none;
    }
    .logo {
      display: inline-block;

    }

    ul {
      float: right;
      padding: 0;
      li {
        float: left;
        vertical-align: bottom;
        display: inline-block;
        padding: 0 15px;
        line-height: 42px;
        a {
          font-family: $main_font;
          text-transform: uppercase;
          color: #e2e2e2;
          text-decoration: none !important;
          font-size: 16px;
          font-weight: 400;
        }
      }
      li:first-child {
        padding-left: 0;
      }
      a.active, a:hover {
        color: #ffac55;
      }
    }
    .call {
      padding: 0 20px 0 50px;
      float: right;
      vertical-align: bottom;
      color: #03b6e7;

      font-size: 18px;
      line-height: 36px;
      display: inline-block;
      .number {
        padding-left: 15px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
        text-transform: uppercase;
      }
    }
    .message {
      float: right;
      width: 31px;
      text-align: center;
      height: 31px;
      line-height: 31px;
      border-radius: 50%;
      background-color: #03b6e7;
      a {
        color: #FFFFFF;

      }
    }

  }

  #slider1 {
    background-color: transparent;
    border: none;
    margin-bottom: 0;

    .slides {
      .items {
        background-color: #03b6e7;
        text-align: center;
        height: 282px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        .wrap {
          display: inline-block;
        }
        span {
          color: #ffffff;
          font-family: $main_font;
          font-size: 20px;
          font-weight: 700;
          line-height: 33px;
          text-transform: uppercase;
        }
        img {
          width: 60px;
          margin: 0 auto;

        }
      }
    }
    .items:hover, .items.active {
      background-color: #f6961b;
    }

  }


  @media (max-width: 530px) {
    .call {
      padding-left: 10px !important;
      float: none !important;

    }
  }

}

//@media (max-width: 768px) {
//  .container {
//    padding-bottom: 150px;
//  }
//}
//@media (max-width: 594px) {
//  h1 {
//    margin-top: 50px;
//  }
//  h2 {
//    margin-top: 20px;
//    line-height: 40px;
//  }
//  .search-form {
//    button {
//      img {
//        padding-left: 5px;
//        padding-right: 5px;
//      }
//    }
//  }
//}






