
.button {
  border-radius: 23px;
  background-color: #16d428;
  line-height: 40px;

  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}
