
ul {
  list-style-type: none;
}

main {
  .about-us {
    .container {
      padding: 94px 15px 60px 15px;
    }
    h3, .signature {
      text-align: center;
    }
    .signature {
      max-width: 640px;
      margin: 19px auto 0 auto;
      line-height: 28px;
    }
    .button {
      margin: 25px auto 70px auto;
      max-width: 133px;
    }
    #slider2 {
      margin: 0;
      .flex-control-paging {
        display: none;
      }
      ol {
        li {
          padding: 0 20px;
        }
      }
    }

  }
  .our-features {
    background-color: #e7eff1;
    .container {
      padding: 67px 15px 0 15px;
    }
    h3 {
      padding-bottom: 65px
    }
    .item {
      margin-top: 30px;
    }

    .title {
      font-size: 17px;
    }
    .signature {
      text-align: left;
    }

    .left {
      img {
        float: left;
      }
      .about-us {
        overflow: hidden;
        padding-left: 30px;
      }

    }
    .right {
      img {
        float: right;
      }
      .about-us {
        overflow: hidden;
        padding: 0 30px 0 0;

        .title, .signature {
          text-align: right;
          width: 100%;
        }
      }
    }
    .logo {
      margin: 0 auto;
      width: 130px;
      height: 130px;
      box-shadow: 0 0 65px #d6e4e7;
      background-color: #ffffff;
      border-radius: 50%;
      line-height: 130px;
      text-align: center;
    }
    .business-contact {
      margin-top: 50px;
      padding: 17px 15px 0 15px;
      .container {
        vertical-align: middle;
        padding: 15px 0;
        background-color: #565d5d;
        .questions {
          display: inline-block;
          float: left;
          color: #ffffff;
          font-size: 20px;
          font-weight: 400;
          padding-left: 20px;
          line-height: 44px;

        }
        .button {
          display: inline-block;
          min-width: 223px;
          float: right;
          margin-right: 20px;
        }

      }

    }

    @media (max-width: 857px) {
      .logo-icon {
        display: none;
      }
      .col-md-5 {
        width: 50%;
      }
      .right {
        .title, .signature {
          text-align: left !important;
        }
        img {
          float: left;
        }
        .about-us {
          padding: 0 15px;
        }
      }

    }
    @media (max-width: 566px) {
      .our-features {
        .col-xs-5 {
          width: 100% !important;
          .descr {
            margin: 0;
          }
        }
      }
    }

    @media (max-width: 750px) {
      .business-contact {
        .questions {
          float: none !important;
        }
        .button {
          display: block !important;
          float: none !important;
          margin: 0 auto !important;;
          line-height: 40px;
        }
      }
    }

  }

  .project {

    .container {
      padding: 75px 15px;
    }
    h3{
      margin-bottom: 30px;
    }
    .item-1,.item-2{
      position: relative;
    }
    .item-1 {
      .elem-project {
        a {
          padding: 0 25px;
          color: #fff;
        }
      }
      padding: 0;
      margin: 0;
      color:#fff;

      background-color: #f6961b;
      img {
        width: 100%;
      }

      .title{
        margin-top: 30px;
        padding-left:28px
      }
      .signature{
        padding: 18px 30px 50px 28px;
      }
    }
    .item-2{
      .elem-project{
        a {
          padding: 0 12px;

          color: #fff;
        }

      }

      .title{
        color: #343a3b;
        padding-left: 30px;
      }
      .signature{
        color:#838b8c;
        padding: 0 95px 0 30px;
      }
    }
    .button{
      margin: 95px auto 0 90px;
    }

  }

  .services {
    background-color: #fffaf3;
    .container {
      padding: 75px 25px;
      a {
        text-align: center;
      }
      h3 {
        margin-bottom: 40px;
      }
      .all {
        display: inline-block;
        vertical-align: bottom;
      }
      .title {
        margin-top: 40px;
        color: #343a3b;
        a {
          text-decoration: none;
          color: #343a3b;
          font-family: $main_font;
          font-size: 18px;
          font-weight: 700;
          line-height: 33px;
          text-transform: uppercase;
        }
      }
      .button {
        margin-top: 33px;
      }

    }
    @media (max-width: 500px) {
      .container {
        padding: 30px 15px;
        h3 {
          margin-bottom: 10px;
        }
        .item {
          width: 100%;
        }
      }
    }
  }

  .testimoneals {
    background-color: #03b6e7;

    .container {
      position: relative;
      padding: 75px 15px;
      background-image: url("../images/quote-icon.png");
      background-repeat: no-repeat;

    }
    h3 {
      color: #fff;
    }
    .photo {
      text-align: center;
      margin: 50px auto 0 auto;

      .item {
        display: inline-block;

      }

    }
    .signature {
      margin: 20px auto 0 auto;
      text-align: center;
      color: #ddf8ff;
      max-width: 895px;
    }
    .client {
      font-size: 14px;
      margin-top: 15px;
      padding-top: 10px;
    }
    .designation {
      color: #fff;
      text-align: center;
      margin-top: 5px;
    }
    @media (max-width: 585px) {
      .container {
        background: none;
      }
    }

  }

  .our-blog {
    background-color: #e7eff1;
    .container {
      padding: 75px 15px 75px 25px;

      .item {
        height: 295px;
        background-color: #ffffff;
        padding-left: 0;
        .info {
          padding: 25px 0 25px 0;
        }

        .title {
          font-size: 18px;
        }
      }
      .border-item-1 {

      }
      .title {
        margin: 5px 0 15px 0
      }
      .signature {
        line-height: 28px;;
      }

      img {
        float: left;

      }
      .info-1 {
        padding-left: 240px;
        padding-top: 43px;
      }
      .info-2 {
        padding-left: 40px;
        padding-top: 43px;
      }

    }
    .border-item-2 {
      box-shadow: 0 0 70px #d4e2e5;
      border-top: 3px solid #ffac56;

    }
    .border-item-1 {
      border-top: 3px solid #16d428;

    }

    .button {
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      .container {
        padding: 25px 15px;
      }

    }
    @media (max-width: 446px) {
      .container {
        .info-1 {
          padding: 10px 0 0 200px;
        }
        .info-2 {
          padding-bottom: 10px;
        }
        img {
          width: 170px;
        }
      }
    }
  }

  .quick-contact {
    .container {
      padding: 70px 15px 80px 15px;
    }
    //.items {
    //  border: 1px solid #e1eaec;
    //  display: inline-block;
    //  width: 33%;
    //  text-align: center;
    //}

    .info-1, .info-2, .info-3 {
      padding: 35px 0 35px 100px;
      border: 1px solid #e1eaec;

    }

    .title {
      font-size: 18px;
      text-align: left;

    }

    .info-1 {
      background: url("../images/icon-email.png") no-repeat;
      background-position: 25px 35px;

    }
    .info-2 {
      background: url("../images/icon-call.png") no-repeat;
      background-position: 25px 35px;

    }
    .info-3 {
      background: url("../images/icon-career.png") no-repeat;
      background-position: 25px 35px;

    }
    @media (max-width: 725px) {
      .container {
        padding-bottom: 40px;
      }
      .info-1, .info-2, .info-3 {
        width: 100%;
        border: none;
        background-position: 40%;

      }
      .title, .descr {
        text-align: center;
        padding-left: 50px;
      }

    }

    //.info-1, .info-2, .info-3 {
    //  .title {
    //    text-align: center;
    //  }
    //}

  }

}










































