

ul {
  list-style-type: none;
}

main{
  .about-us{
    .container{
      padding: 94px 15px 91px 15px;
    }
    h3,.signature{
      text-align: center;
    }
    .signature{
      max-width: 640px;
      margin: 19px auto 0 auto;
      line-height: 28px;
    }
    .button{
      margin: 25px auto 0 auto;
      max-width: 133px;
    }

  }
}



